@import "../../styles/variables";
.notFoundPage {
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &__box {
    text-align: center;

    &--404 {
      font-size: 20rem;
      color: $color-hover;
      font-weight: 600;
    }

    &--text {
      font-size: 7rem;
      letter-spacing: 3px;
      position: relative;
      top: -10rem;
      z-index: 5;
      font-weight: 500;
    }

    &--btn {
      background-color: white;
      color: $color-primary;
      font-size: 3rem;
      padding: 1.5rem 3rem;

      text-decoration: none;
    }
  }
}
