/* CSS */
@import "../styles/variables";
.primary {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: 1.5rem 4rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 5px;
}

.primary:hover,
.primary:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.primary:hover {
  transform: translateY(-1px);
}

.primary:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.primary:disabled {
  background-color: grey;
}
.secondary {
  color: #c85000;
}
.small {
  padding: 1rem 1.5rem !important;
  font-size: 1.3rem !important;
}
.link {
  text-decoration: none !important;
  color: $color-primary;

  &:hover {
    color: #fb8332;
  }
}
