//gör diye troy resturant'tan aldım, kullanacağın zaman şöyle
//dosya başına: @use path
//class içine @include mixins.mixinname
@mixin respond($breakpoint) {
  @if $breakpoint == phone-xs {
    @media (max-width: 25em) {
      @content;
    } //400px
  }
  @if $breakpoint == phone-s {
    @media (max-width: 31.25em) {
      @content;
    } //500px
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
@mixin backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 10vh;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
@mixin modal($height, $width) {
  //popup window with full height, like card popup, order detail popup etc.
  background-color: white;
  height: $height;
  width: $width;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  position: fixed;
  font-size: 2rem;
  z-index: 21;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
@mixin popup-height($height, $width) {
  //popup window with full height, like card popup, order detail popup etc.
  background-color: white;
  height: $height;
  width: $width;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-right: 1rem;
  position: relative;
  font-size: 2rem;
}

@mixin popup-close-btn {
  // X button
  position: absolute;
  top: 2px;
  left: 5px;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 2.5rem;
}
@mixin button-primary($padding1, $padding2, $font-size) {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: $padding1 $padding2;
  font-size: $font-size;
  border: none;
  cursor: pointer;
}
